.feed-item {
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
}

.vacancies {
    margin: -12px;
}

.vacancy-row-layout {
    display: grid;
    grid-template-columns: 1.0fr;
    grid-template-rows: max-content;
    margin: 20px;
}

.org-name-card {
    width: 30rem;
}

.org-description-card {
    width: 30rem;
}

.org-vacancies-card {
    text-align: center;
}