* {
    margin: 0px;
}

body {
    background-color: #F4EDE6;
}

nav {
    margin-top: 1rem;
    background-color: #F4EDE6;
}

#logo-li {
    justify-self: left;
}

#main-container {
    width: 1000px;
    margin: auto;
}

footer {
    background-color: #E3DCD4;
    margin-top: 1rem;
    padding: 2rem;
}