.btn-submit {
    background-color: #242337;
    color: aliceblue;
    outline-color: #242337;
    border-color: #242337;
}

.btn-remove {
    background-color: #E24F3D;
}


body {
    background-color: #F4EDE6;;
}

.padding {
    padding: 50px;
}

.error-padding {
    padding-top: 20px;
}